In [ ]:

import numpy as np 
import pandas as pd
from datetime import datetime
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
''' df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Adidas_US_Sales_Datasets_1_.xlsx') '''
df = pd.DataFrame(pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Adidas_US_Sales_Datasets_1_.xlsx"))

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   datetime64[ns]
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   float64
 8   Units Sold        9648 non-null   int64
 9   Total Sales       9648 non-null   float64
 10  Operating Profit  9648 non-null   float64
 11  Operating Margin  9648 non-null   float64
 12  Sales Method      9648 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 980.0+ KB
None

In [ ]:
#1.	List all the retailers with retailer id.
sd = df.groupby('Retailer')['Retailer ID'].unique()
display(sd)

Retailer
Amazon                                      [1185732]
Foot Locker               [1185732, 1128299, 1197831]
Kohl's           [1189833, 1185732, 1128299, 1197831]
Sports Direct             [1197831, 1185732, 1128299]
Walmart                   [1185732, 1197831, 1128299]
West Gear                 [1128299, 1185732, 1197831]
Name: Retailer ID, dtype: object

In [ ]:
#2.	List all the retailers in every region.
grouped = df.groupby('Retailer')['Region'].unique()
display(grouped)

Retailer
Amazon           [South, Northeast, West, Southeast, Midwest]
Foot Locker      [Northeast, West, Midwest, South, Southeast]
Kohl's                      [West, Midwest, Northeast, South]
Sports Direct    [Northeast, South, Midwest, Southeast, West]
Walmart                   [Northeast, South, West, Southeast]
West Gear        [South, West, Northeast, Southeast, Midwest]
Name: Region, dtype: object

In [ ]:
#3.	List the retailers in every city of a state.
grouped_state = df.groupby('Retailer')['State'].unique()
display(grouped_state)

Retailer
Amazon           [Alabama, Maine, Alaska, North Carolina, Ohio,...
Foot Locker      [New York, California, Illinois, Texas, Pennsy...
Kohl's           [California, Minnesota, Montana, New York, Wyo...
Sports Direct    [New York, Texas, Illinois, Florida, Montana, ...
Walmart          [New York, Texas, Hawaii, Florida, Mississippi...
West Gear        [Texas, California, Pennsylvania, Nevada, Colo...
Name: State, dtype: object

In [ ]:
#4.	List the products sold by the retailer in every city.
grouped_product = df.groupby('Product')['City'].unique()
display(grouped_product)

Product
Men's Apparel                [New York, Houston, San Francisco, Los Angeles...
Men's Athletic Footwear      [New York, Houston, San Francisco, Los Angeles...
Men's Street Footwear        [New York, Houston, San Francisco, Los Angeles...
Women's Apparel              [New York, Houston, San Francisco, Los Angeles...
Women's Athletic Footwear    [New York, Houston, San Francisco, Los Angeles...
Women's Street Footwear      [New York, Houston, San Francisco, Los Angeles...
Name: City, dtype: object

In [ ]:
#5.	Find the total sales of every retailer.
display(df.groupby('Retailer ')['Total Sales'].sum())

Retailer ID
1128299    270205913.0
1185732    452315914.0
1189833     42083484.0
1197831    135296814.0
Name: Total Sales, dtype: float64

In [ ]:
#6.	Find the total sales of the retailers in every city along with profit.
sd1=df.groupby(['Retailer','City'])['Operating Profit','Total Sales'].sum()
print(sd1)

                          Operating Profit  Total Sales
Retailer  City
Amazon    Anchorage             4143804.75   13365025.0
          Birmingham             146947.48     409091.0
          Boston                1375377.31    4193590.0
          Burlington            5376161.02   13380463.0
          Charlotte             1532481.72    3733676.0
...                                    ...          ...
West Gear Portland              7712540.80   21934257.0
          Salt Lake City        3873429.10    9696420.0
          San Francisco         9843005.12   33360397.0
          Seattle               6469771.84   24862675.0
          St. Louis              681457.25    1701133.0

[108 rows x 2 columns]

<ipython-input-9-ae09519328eb>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sd1=df.groupby(['Retailer','City'])['Operating Profit','Total Sales'].sum()

In [ ]:
#7.	Find the total sales &profit of each product sold by the retailer.
sd2=df.groupby(['Retailer','Product'])['Operating Profit','Total Sales'].sum()
print(sd2)

                                         Operating Profit  Total Sales
Retailer      Product
Amazon        Men's Apparel                    3331443.80   10474770.0
              Men's Athletic Footwear          4518030.11   12011959.0
              Men's Street Footwear            8707658.12   22161652.0
              Women's Apparel                  6280071.53   15710639.0
              Women's Athletic Footwear        2701607.74    7935255.0
              Women's Street Footwear          3279692.01    9404637.0
Foot Locker   Men's Apparel                    9942404.61   29508995.0
              Men's Athletic Footwear         12409221.49   36480415.0
              Men's Street Footwear           23060809.17   57481575.0
              Women's Apparel                 17192901.49   43296114.0
              Women's Athletic Footwear        8477313.73   24239624.0
              Women's Street Footwear          9639474.32   29087997.0
Kohl's        Men's Apparel                    5945043.20   14164965.0
              Men's Athletic Footwear          5725762.60   17885316.0
              Men's Street Footwear            9219819.89   22421073.0
              Women's Apparel                  5596172.50   20315239.0
              Women's Athletic Footwear        4570693.09   12493869.0
              Women's Street Footwear          5753761.30   14834291.0
Sports Direct Men's Apparel                    8723914.71   24825286.0
              Men's Athletic Footwear         11935672.81   30889734.0
              Men's Street Footwear           15837750.43   38672270.0
              Women's Apparel                 17832960.67   37113257.0
              Women's Athletic Footwear        9688746.39   23145288.0
              Women's Street Footwear         10313909.95   27825162.0
Walmart       Men's Apparel                    3166591.22   11490680.0
              Men's Athletic Footwear          4029257.65   13600404.0
              Men's Street Footwear            5438666.13   14924255.0
              Women's Apparel                  6348451.03   15316099.0
              Women's Athletic Footwear        3239052.49    8762792.0
              Women's Street Footwear          3560034.09   10464180.0
West Gear     Men's Apparel                   13653632.79   33263936.0
              Men's Athletic Footwear         13228943.53   42805852.0
              Men's Street Footwear           20537556.88   53165419.0
              Women's Apparel                 15400413.34   47287512.0
              Women's Athletic Footwear       10298371.50   30055068.0
              Women's Street Footwear         12548955.14   36386546.0

<ipython-input-10-38fada86a29c>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sd2=df.groupby(['Retailer','Product'])['Operating Profit','Total Sales'].sum()

In [ ]:
# 8.	Find the units sold, total sales &profit of the products sold between the dates 1/1/2020 and 4/15/2020.
df2 = df[(df['Invoice Date'] >= "2020-01-01") & (df['Invoice Date'] <="2020-04-15")]
display(df2.groupby(['Product'])['Operating Profit','Total Sales','Units Sold'].sum())

<ipython-input-11-f423a47206de>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  display(df2.groupby(['Product'])['Operating Profit','Total Sales','Units Sold'].sum())

                           Operating Profit  Total Sales  Units Sold
Product
Men's Apparel                    2876971.09    7030470.0       17060
Men's Athletic Footwear          2657923.14    9721277.0       25755
Men's Street Footwear            5213987.70   11515677.0       31372
Women's Apparel                  2162116.63    9605280.0       22954
Women's Athletic Footwear        2398964.20    6889592.0       19980
Women's Street Footwear          3022311.95    8014382.0       23442

In [ ]:
# 9.	Find the no of units sold of each product by each retailer in every city.
df.groupby(['Retailer','Product','City'])['Units Sold'].sum()

Retailer   Product                  City
Amazon     Men's Apparel            Anchorage          2990
                                    Boston             1235
                                    Burlington         4607
                                    Charlotte          1447
                                    Columbus           6054
                                                      ...
West Gear  Women's Street Footwear  Portland           9168
                                    Salt Lake City     7303
                                    San Francisco     13346
                                    Seattle            6888
                                    St. Louis          1678
Name: Units Sold, Length: 618, dtype: int64

In [ ]:
#10.	Find the products with different price per unit in different cities with proper information.
df.groupby(['Retailer','Product','City'])['Units Sold'].sum()

Retailer   Product                  City
Amazon     Men's Apparel            Anchorage          2990
                                    Boston             1235
                                    Burlington         4607
                                    Charlotte          1447
                                    Columbus           6054
                                                      ...
West Gear  Women's Street Footwear  Portland           9168
                                    Salt Lake City     7303
                                    San Francisco     13346
                                    Seattle            6888
                                    St. Louis          1678
Name: Units Sold, Length: 618, dtype: int64

In [ ]:
# 11.Find the total sales &profits of all products in every month.
df['month'] = pd.DatetimeIndex(df['Invoice Date']).month
monthly_sales_and_profit = df.groupby([df['Invoice Date'].dt.month, 'Product'])['Total Sales','Operating Profit'].sum()
print(monthly_sales_and_profit)

                                        Total Sales  Operating Profit
Invoice Date Product
1            Men's Apparel               10253418.0        4140975.27
             Men's Athletic Footwear     13091636.0        3858129.77
             Men's Street Footwear       15594195.0        6355611.78
             Women's Apparel             13353328.0        3945335.36
             Women's Athletic Footwear    8347337.0        2897686.87
...                                             ...               ...
12           Men's Athletic Footwear     14260277.0        4933741.04
             Men's Street Footwear       21065269.0        8326619.99
             Women's Apparel             16601172.0        6400338.99
             Women's Athletic Footwear   10738917.0        3817987.76
             Women's Street Footwear     11499517.0        4047079.39

[72 rows x 2 columns]

<ipython-input-14-d4950ae2d47f>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  monthly_sales_and_profit = df.groupby([df['Invoice Date'].dt.month, 'Product'])['Total Sales','Operating Profit'].sum()

In [ ]:
#12.	Find the total sales &profit of the products in different sales methods in each city
df4=df.groupby(['City','Sales Method'])['Operating Profit','Total Sales'].sum()
display(df4.dropna())

<ipython-input-15-41fb77dac388>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df4=df.groupby(['City','Sales Method'])['Operating Profit','Total Sales'].sum()

                          Operating Profit  Total Sales
City        Sales Method
Albany      In-store            9121062.50   23815000.0
            Online               308788.41     612804.0
Albuquerque Online              6569814.43   19424023.0
            Outlet               168245.98     440993.0
Anchorage   Online               158133.36     372353.0
...                                    ...          ...
St. Louis   In-store            3778625.00    9437500.0
            Online               128584.36     245765.0
Wichita     Online              3510147.29    9972864.0
Wilmington  In-store            4373362.50   11988750.0
            Online               150987.56     309662.0

[112 rows x 2 columns]

In [ ]:
#13.	Find the retailers who sold the same product with different prices in different cities.
df5=df.groupby(['Retailer','Retailer ID','Price per Unit','City'])['Product'].nunique()
df5=df5[df5>1]
print(df5)

Retailer   Retailer ID  Price per Unit  City
Amazon     1185732      24.0            Columbus         2
                        25.0            Columbus         2
                        27.0            Columbus         3
                        28.0            Columbus         4
                        29.0            Columbus         4
                                                        ..
West Gear  1197831      55.0            Boise            2
                                        Oklahoma City    2
                        60.0            Oklahoma City    3
                                        Little Rock      3
                        70.0            Little Rock      3
Name: Product, Length: 1735, dtype: int64

In [ ]:
#14.	Find the products whose sales raises in every month.
product_sales = df.groupby(['Product','month'])['Total Sales'].sum().reset_index()
df6= product_sales.groupby('Product')['Total Sales'].diff().ge(0).all()
print(df6)

False

In [ ]:
df = df.groupby(['Product','Invoice Date'])['Units Sold'].sum().reset_index()

df['prev_units_sold'] = df.groupby(['Product'])['Units Sold'].shift(1)

# Create a new column to hold the difference between current and previous month's units sold
df['difference']=df['Units Sold']-df['prev_units_sold']

#Filter only the products with positive difference
df=df[df['difference']>0]

# Group the data by product and check if the difference column is greater than zero for all months
df = df.groupby(['Product'])['difference'].all()

# Filter only the products that has positive difference for all months
df=df[df==True]

print(df)

KeyError: ignored

In [ ]:
#15.	Find the retailers whose profit increased every month.
retailer_profit = df.groupby(['Retailer', 'month'])['Operating Profit'].sum().reset_index()
retailers = retailer_profit.groupby('Retailer')['Operating Profit'].diff().ge(0).all()
print(retailers)

False