In [ ]:
import numpy as np 
import pandas as pd
from datetime import datetime
import datetime as dt 
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/movies.csv')
print(df.shape)

(3201, 16)

In [ ]:
display(df)

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083,146083,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876,10876,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134,203134,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615,373615,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819,1087521,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765,36851125,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084,83080084,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328,12506188,6679409.0,35000000.0,11-Aug-06,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336,141475336,NaN,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745,233700000,NaN,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3201 entries, 0 to 3200
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   3201 non-null   object
 1   US Gross                3201 non-null   object
 2   Worldwide Gross         3201 non-null   object
 3   US DVD Sales            564 non-null    float64
 4   Production Budget       3200 non-null   float64
 5   Release Date            3201 non-null   object
 6   MPAA Rating             2596 non-null   object
 7   Running Time (min)      1209 non-null   float64
 8   Distributor             2969 non-null   object
 9   Source                  2836 non-null   object
 10  Major Genre             2926 non-null   object
 11  Creative Type           2755 non-null   object
 12  Director                1870 non-null   object
 13  Rotten Tomatoes Rating  2321 non-null   float64
 14  IMDB Rating             2988 non-null   float64
 15  IMDB Votes              2988 non-null   float64
dtypes: float64(6), object(10)
memory usage: 400.2+ KB
None

In [ ]:
#1 A)Find out the no of movies released in every month of the year 1995.

''' d={}
for i in range(3201):
  a=str(df['Release Date'][i])
  b=list(map(str,a.split('-')))
  if len(b)==3 and b[2]=='95':
    if b[1] in d:
      d[b[1]]+=1
    else:
      d[b[1]]=1
c=0
for i in d:
  print(i,' ',d[i])
  c=c+d[i]
print(c) '''

df.drop(df.loc[df['Release Date']=='TBD'].index,inplace=True)

print(df.shape)

df["Release Date"] = pd.to_datetime(df["Release Date"], errors='coerce')

df2 = df[(df["Release Date"].notna()) & (df["Release Date"].dt.year == 1995)]

df2["Release Month"] = df2["Release Date"].dt.month

grouped = df2.groupby("Release Month").size().reset_index(name="Number of Movies")

print(grouped)
print(df['Release Date'])

(3194, 16)
    Release Month  Number of Movies
0               1                 3
1               2                 2
2               3                 3
3               4                 5
4               5                 6
5               6                 7
6               7                 8
7               8                 7
8               9                 4
9              10                 8
10             11                 7
11             12                13
0      1998-06-12
1      1998-08-07
2      1998-08-28
3      1998-09-11
4      1998-10-09
          ...
3196   2008-10-31
3197   2007-03-02
3198   2006-08-11
3199   2005-10-28
3200   1998-07-17
Name: Release Date, Length: 3194, dtype: datetime64[ns]

<ipython-input-8-80c566d815e2>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Release Month"] = df2["Release Date"].dt.month

In [ ]:
df[df['Release Date'].dt.year > 2015]

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
9,Duel in the Sun,20400000,20400000,NaN,6000000.0,2046-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2906.0
10,Tom Jones,37600000,37600000,NaN,1000000.0,2063-10-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0,7.0,4035.0
11,Oliver!,37402877,37402877,NaN,10000000.0,2068-12-11,NaN,NaN,Sony Pictures,NaN,Musical,NaN,NaN,84.0,7.5,9111.0
12,To Kill A Mockingbird,13129846,13129846,NaN,2000000.0,2062-12-25,NaN,NaN,Universal,NaN,NaN,NaN,NaN,97.0,8.4,82786.0
13,"Tora, Tora, Tora",29548291,29548291,NaN,25000000.0,2070-09-23,NaN,NaN,NaN,NaN,NaN,NaN,Richard Fleischer,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,West Side Story,43700000,43700000,NaN,6000000.0,2061-10-18,NaN,NaN,NaN,NaN,NaN,NaN,Robert Wise,92.0,7.7,29488.0
1042,Willy Wonka & the Chocolate Factory,4000000,4000000,NaN,3000000.0,2071-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,7.8,46824.0
1045,The Wizard of Oz,28202232,28202232,NaN,2777000.0,2039-08-25,G,103.0,Warner Bros.,Based on Book/Short Story,Musical,Fantasy,King Vidor,NaN,8.3,102795.0
1047,Exodus,21750000,21750000,NaN,4000000.0,2060-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,6.8,3546.0
1055,You Only Live Twice,43100000,111600000,NaN,9500000.0,2067-06-13,NaN,NaN,MGM,Based on Book/Short Story,Action,NaN,NaN,70.0,7.0,24701.0

In [ ]:
#1 B)Find out the no. of movies released in every year from 1990 to 1998.
df["Release Date"] = pd.to_datetime(df["Release Date"], errors='coerce')

df1 = df[(df["Release Date"].dt.year >= 1990) & (df["Release Date"].dt.year <= 1998) & (df["Release Date"].notna())]

display(df1)

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083,146083,NaN,8000000.0,1998-06-12,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876,10876,NaN,300000.0,1998-08-07,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134,203134,NaN,250000.0,1998-08-28,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615,373615,NaN,300000.0,1998-09-11,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819,1087521,NaN,1000000.0,1998-10-09,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3165,The Waterboy,161491646,190191646,NaN,23000000.0,1998-11-06,PG-13,86.0,Walt Disney Pictures,Original Screenplay,Comedy,Contemporary Fiction,Frank Coraci,32.0,5.7,43251.0
3170,The X Files: Fight the Future,83898313,189176423,NaN,66000000.0,1998-06-19,PG-13,120.0,20th Century Fox,Based on TV,Action,Science Fiction,NaN,NaN,NaN,NaN
3186,You've Got Mail,115821495,250800000,NaN,65000000.0,1998-12-18,PG,119.0,Warner Bros.,Based on Play,Drama,Contemporary Fiction,Nora Ephron,68.0,6.2,52587.0
3193,Zero Effect,2080693,2080693,NaN,5000000.0,1998-01-30,R,NaN,Sony Pictures,Original Screenplay,Comedy,Contemporary Fiction,NaN,66.0,6.8,8489.0
3200,The Mask of Zorro,93828745,233700000,NaN,65000000.0,1998-07-17,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

In [ ]:
#2 A)Find no. of movies released under each genre given in the database.
grouped = df.groupby("Major Genre").size().reset_index(name="Number of Movies")

print(grouped)

            Major Genre  Number of Movies
0                Action               420
1             Adventure               274
2          Black Comedy                36
3                Comedy               675
4   Concert/Performance                 5
5           Documentary                43
6                 Drama               789
7                Horror               219
8               Musical                53
9       Romantic Comedy               137
10    Thriller/Suspense               239
11              Western                36

In [ ]:
#2 B)finding the movies under each genere with IMDB rating >7 and rotten tomato >60

df8 = df[(df["IMDB Rating"] > 7) & (df["Rotten Tomatoes Rating"] > 60)]

# Group the data by the genre column

grouped = df8.groupby("Major Genre").size().reset_index(name="Number of Movies")

print(grouped)

          Major Genre  Number of Movies
0              Action                68
1           Adventure                52
2        Black Comedy                 8
3              Comedy                79
4         Documentary                18
5               Drama               226
6              Horror                15
7             Musical                14
8     Romantic Comedy                14
9   Thriller/Suspense                39
10            Western                 9

In [ ]:
#3 A)Find the movies released under each fiction with each director in the ascending order of release dates.
sorted_movies = df.groupby(['Creative Type', 'Director']).apply(lambda x: x.sort_values(by='Release Date', ascending=True))

display(sorted_movies)
#order of the release date

                                                                               Title  \
Creative Type        Director
Contemporary Fiction Adam McKay    2918  Talladega Nights: The Ballad of Ricky Bobby
                     Adam Shankman 3109                          The Wedding Planner
                                   3141                           A Walk to Remember
                                   1965                      Bringing Down the House
                                   2486                                 The Pacifier
...                                                                              ...
Super Hero           Tim Burton    145                                Batman Returns
                     Tim Story     1738                               Fantastic Four
                                   1774    Fantastic Four: Rise of the Silver Surfer
                     Warren Beatty 236                                    Dick Tracy
                     Zack Snyder   3100                                     Watchmen

                                          US Gross Worldwide Gross  \
Creative Type        Director
Contemporary Fiction Adam McKay    2918  148213377       163013377
                     Adam Shankman 3109   60400856        94728529
                                   3141   41227069        46060915
                                   1965  132675402       164675402
                                   2486  113006880       198006880
...                                            ...             ...
Super Hero           Tim Burton    145   162831698       266822354
                     Tim Story     1738  154696080       330579719
                                   1774  131921738       288215319
                     Warren Beatty 236   103738726       162738726
                     Zack Snyder   3100  107509799       184068357

                                         US DVD Sales  Production Budget  \
Creative Type        Director
Contemporary Fiction Adam McKay    2918    84838372.0         73000000.0
                     Adam Shankman 3109           NaN         28000000.0
                                   3141           NaN         11000000.0
                                   1965           NaN         20000000.0
                                   2486           NaN         56000000.0
...                                               ...                ...
Super Hero           Tim Burton    145            NaN         80000000.0
                     Tim Story     1738     4702358.0         87500000.0
                                   1774    62277740.0        120000000.0
                     Warren Beatty 236            NaN         47000000.0
                     Zack Snyder   3100    52112827.0        138000000.0

                                        Release Date MPAA Rating  \
Creative Type        Director
Contemporary Fiction Adam McKay    2918   2006-08-04       PG-13
                     Adam Shankman 3109   2001-01-26       PG-13
                                   3141   2002-01-25          PG
                                   1965   2003-03-07       PG-13
                                   2486   2005-03-04          PG
...                                              ...         ...
Super Hero           Tim Burton    145    1992-06-18       PG-13
                     Tim Story     1738   2005-07-08       PG-13
                                   1774   2007-06-15          PG
                     Warren Beatty 236    1990-06-15         NaN
                     Zack Snyder   3100   2009-03-06           R

                                         Running Time (min)  \
Creative Type        Director
Contemporary Fiction Adam McKay    2918                 NaN
                     Adam Shankman 3109               103.0
                                   3141               102.0
                                   1965               105.0
                                   2486                97.0
...                                                     ...
Super Hero           Tim Burton    145                  NaN
                     Tim Story     1738               123.0
                                   1774                92.0
                     Warren Beatty 236                  NaN
                     Zack Snyder   3100                 NaN

                                                  Distributor  \
Creative Type        Director
Contemporary Fiction Adam McKay    2918         Sony Pictures
                     Adam Shankman 3109         Sony Pictures
                                   3141          Warner Bros.
                                   1965  Walt Disney Pictures
                                   2486  Walt Disney Pictures
...                                                       ...
Super Hero           Tim Burton    145           Warner Bros.
                     Tim Story     1738      20th Century Fox
                                   1774      20th Century Fox
                     Warren Beatty 236   Walt Disney Pictures
                     Zack Snyder   3100          Warner Bros.

                                                               Source  \
Creative Type        Director
Contemporary Fiction Adam McKay    2918           Original Screenplay
                     Adam Shankman 3109           Original Screenplay
                                   3141     Based on Book/Short Story
                                   1965           Original Screenplay
                                   2486           Original Screenplay
...                                                               ...
Super Hero           Tim Burton    145            Original Screenplay
                     Tim Story     1738  Based on Comic/Graphic Novel
                                   1774  Based on Comic/Graphic Novel
                     Warren Beatty 236   Based on Comic/Graphic Novel
                     Zack Snyder   3100  Based on Comic/Graphic Novel

                                             Major Genre  \
Creative Type        Director
Contemporary Fiction Adam McKay    2918           Comedy
                     Adam Shankman 3109  Romantic Comedy
                                   3141            Drama
                                   1965           Comedy
                                   2486           Comedy
...                                                  ...
Super Hero           Tim Burton    145            Action
                     Tim Story     1738           Action
                                   1774           Action
                     Warren Beatty 236            Action
                     Zack Snyder   3100           Action

                                                Creative Type       Director  \
Creative Type        Director
Contemporary Fiction Adam McKay    2918  Contemporary Fiction     Adam McKay
                     Adam Shankman 3109  Contemporary Fiction  Adam Shankman
                                   3141  Contemporary Fiction  Adam Shankman
                                   1965  Contemporary Fiction  Adam Shankman
                                   2486  Contemporary Fiction  Adam Shankman
...                                                       ...            ...
Super Hero           Tim Burton    145             Super Hero     Tim Burton
                     Tim Story     1738            Super Hero      Tim Story
                                   1774            Super Hero      Tim Story
                     Warren Beatty 236             Super Hero  Warren Beatty
                     Zack Snyder   3100            Super Hero    Zack Snyder

                                         Rotten Tomatoes Rating  IMDB Rating  \
Creative Type        Director
Contemporary Fiction Adam McKay    2918                    72.0          6.4
                     Adam Shankman 3109                    16.0          4.8
                                   3141                    28.0          7.1
                                   1965                    34.0          5.4
                                   2486                    20.0          5.3
...                                                         ...          ...
Super Hero           Tim Burton    145                     78.0          6.9
                     Tim Story     1738                    27.0          5.7
                                   1774                    36.0          NaN
                     Warren Beatty 236                     65.0          5.9
                     Zack Snyder   3100                    64.0          7.8

                                         IMDB Votes
Creative Type        Director
Contemporary Fiction Adam McKay    2918     50407.0
                     Adam Shankman 3109     18717.0
                                   3141     38045.0
                                   1965     16242.0
                                   2486     22590.0
...                                             ...
Super Hero           Tim Burton    145      78673.0
                     Tim Story     1738     71675.0
                                   1774         NaN
                     Warren Beatty 236      25364.0
                     Zack Snyder   3100    132250.0

[1695 rows x 16 columns]

In [ ]:
# 3 B)Find movies released under each distributor in the order of genre and director.
#df4=df.groupby("Distributor")
#df4=df.sort_values(by=["Distributor","Major Genre","Director"])
df3=df.groupby('Distributor').apply(lambda x: x.sort_values(by=["Major Genre","Director"]))
display(df3)

                                                    Title   US Gross  \
Distributor
20th Century Fox 2045                            I, Robot  144801023
                 168                       Chain Reaction   21226204
                 3174               X-Men: The Last Stand  234362462
                 3172                               X-Men  157299717
                 3173                                  X2  214949694
...                                                   ...        ...
Yash Raj Films   797   Rocket Singh: Salesman of the Year     164649
Zeitgeist        972             Travellers and Magicians     506793
                 1168                      AimÈe & Jaguar     927107
                 2431                   Nowhere in Africa    6173485
                 6                              Following      44705

                      Worldwide Gross  US DVD Sales  Production Budget  \
Distributor
20th Century Fox 2045       348601023           NaN        105000000.0
                 168         60209334           NaN         55000000.0
                 3174       459359555   103555667.0        150000000.0
                 3172       334627820           NaN         75000000.0
                 3173       407711549           NaN        125000000.0
...                               ...           ...                ...
Yash Raj Films   797          5348767           NaN          1070000.0
Zeitgeist        972          1058893           NaN          1800000.0
                 1168          927107           NaN          6800000.0
                 2431         6173485           NaN          6500000.0
                 6              44705           NaN             6000.0

                      Release Date MPAA Rating  Running Time (min)  \
Distributor
20th Century Fox 2045   2004-07-16       PG-13               115.0
                 168    1996-08-02       PG-13               106.0
                 3174   2006-05-26       PG-13                 NaN
                 3172   2000-07-14       PG-13               104.0
                 3173   2003-05-02       PG-13               133.0
...                            ...         ...                 ...
Yash Raj Films   797    2009-12-11         NaN                 NaN
Zeitgeist        972    2005-01-07   Not Rated                 NaN
                 1168   2000-08-11   Not Rated                 NaN
                 2431   2003-03-07           R                 NaN
                 6      1999-04-04           R                 NaN

                            Distributor                        Source  \
Distributor
20th Century Fox 2045  20th Century Fox     Based on Book/Short Story
                 168   20th Century Fox           Original Screenplay
                 3174  20th Century Fox  Based on Comic/Graphic Novel
                 3172  20th Century Fox  Based on Comic/Graphic Novel
                 3173  20th Century Fox  Based on Comic/Graphic Novel
...                                 ...                           ...
Yash Raj Films   797     Yash Raj Films                           NaN
Zeitgeist        972          Zeitgeist           Original Screenplay
                 1168         Zeitgeist     Based on Book/Short Story
                 2431         Zeitgeist     Based on Book/Short Story
                 6            Zeitgeist                           NaN

                      Major Genre         Creative Type           Director  \
Distributor
20th Century Fox 2045      Action       Science Fiction        Alex Proyas
                 168       Action  Contemporary Fiction       Andrew Davis
                 3174      Action            Super Hero       Brett Ratner
                 3172      Action            Super Hero       Bryan Singer
                 3173      Action            Super Hero       Bryan Singer
...                           ...                   ...                ...
Yash Raj Films   797          NaN                   NaN                NaN
Zeitgeist        972        Drama                   NaN                NaN
                 1168       Drama         Dramatization                NaN
                 2431       Drama    Historical Fiction                NaN
                 6            NaN                   NaN  Christopher Nolan

                       Rotten Tomatoes Rating  IMDB Rating  IMDB Votes
Distributor
20th Century Fox 2045                    58.0          NaN         NaN
                 168                     13.0          5.2     15817.0
                 3174                    57.0          6.9    109125.0
                 3172                    82.0          7.4    120706.0
                 3173                     NaN          7.8    112320.0
...                                       ...          ...         ...
Yash Raj Films   797                      NaN          7.5      1436.0
Zeitgeist        972                      NaN          7.4      1069.0
                 1168                     NaN          7.2      2974.0
                 2431                     NaN          NaN         NaN
                 6                        NaN          7.7     15133.0

[2966 rows x 16 columns]

In [ ]:
# 4 	(i). Find the movies released world-wide and find out the revenue received world-wide other than US with their ratings.
df4 = df[df["Worldwide Gross"].notna() & df["US Gross"].isnull()]


d4 = df4[["Title", "Worldwide Gross", "IMDB Rating", "Rotten Tomatoes Rating"]]

rating_min = np.where(df4['IMDB Rating'] < (df4['Rotten Tomatoes Rating']))
df4b=df4.iloc[rating_min][['Title','Worldwide Gross','IMDB Rating']]
display(df4b)

Empty DataFrame
Columns: [Title, Worldwide Gross, IMDB Rating]
Index: []

In [ ]:
#4 (ii). Find the movies with loss & profit released in each year with genre and ratings.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 71 to 992
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   15 non-null     object
 1   US Gross                15 non-null     object
 2   Worldwide Gross         15 non-null     object
 3   US DVD Sales            0 non-null      float64
 4   Production Budget       15 non-null     float64
 5   Release Date            15 non-null     datetime64[ns]
 6   MPAA Rating             15 non-null     object
 7   Running Time (min)      0 non-null      float64
 8   Distributor             15 non-null     object
 9   Source                  15 non-null     object
 10  Major Genre             15 non-null     object
 11  Creative Type           15 non-null     object
 12  Director                14 non-null     object
 13  Rotten Tomatoes Rating  15 non-null     float64
 14  IMDB Rating             15 non-null     float64
 15  IMDB Votes              15 non-null     float64
 16  Release Month           15 non-null     int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(9)
memory usage: 2.1+ KB